<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>

<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="First name" [(ngModel)]="input.fname" name="fname"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Last Name" [(ngModel)]="input.lname" name="lname"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Student ID.</mat-label>
        <input  matInput  placeholder="Student ID." [(ngModel)]="input.stuid" name="stuid"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
      <mat-label>Major</mat-label>
      <input  matInput  placeholder="Major" [(ngModel)]="input.major" name="major"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" [(ngModel)]="input.email" name="email" required>
     </mat-form-field>
     <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input  matInput  placeholder="Username" [(ngModel)]="input.username" name="username" required>
   </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password" type="password" [(ngModel)]="input.password" name="password" required>
     </mat-form-field>
     <!-- <section class="example-section">
      <label class="example-margin">Gender:</label>
      <mat-radio-group [(ngModel)]="input.gender">
        <mat-radio-button class="example-margin" value="male">Male</mat-radio-button>
        <mat-radio-button class="example-margin" value="female">Female</mat-radio-button>
        <mat-radio-button class="example-margin" value="other">Other</mat-radio-button>
      </mat-radio-group>
    </section>
    <mat-form-field class="full-width">
      <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="input.birth" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
    </mat-card-actions>
  </mat-card-actions>
</mat-card>